.login {
  height: 100vh;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
}
.section-login {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: transparent;
}

.container-content-login {
  background-color: transparent;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.section-left-login {
  background-color: transparent;
  width: 60%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 50px;
}
.section-left-content-login {
  background-color: transparent;
  width: 60%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.section-left-content-login h1 {
  font-size: 2em;
  background-color: transparent;
  width: 40%;
}

h3 {
  font-size: 1.2em;
  background-color: transparent;
  width: 100%;
  text-decoration: none;
}

.section-left-content-login p {
  font-size: 1.2em;
  background-color: transparent;
  text-align: center;
  width: 70%;
  text-decoration: none;
}

.section-right-login {
  background-color: transparent;
  width: 30%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: rgb(80, 49, 189);
  background: linear-gradient(
    180deg,
    rgba(80, 49, 189, 1) 0%,
    rgba(49, 144, 163, 1) 100%
  );

  color: white;
  font-weight: bold;
}

.section-right-login h3 {
  cursor: pointer;
}

.input-form-login {
  background-color: transparent;
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.input-login {
  width: 100%;
  height: 40%;
  text-align: center;
  margin-top: 20px;
  background: #f5f5f5;
  border-radius: 6px;
  border: none;
}

.btn-signIn {
  background-color: #6c99cd;
  width: 100%;
  height: 40px;
  border-radius: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
  font-weight: bolder;
  color: white;
  text-decoration: none;
}
