.navbar-container-logo {
  background-color: transparent;
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  margin-top: -40%;
}

.logo-logo {
  background-color: transparent;
  height: auto;
  width: auto;
  text-align: left;
  margin-left: 6%;
}

.menu--logo {
  background-color: transparent;
  height: auto;
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu-logo h3 {
  cursor: pointer;
}
